mobile-desktop-app-ionic/node_modules/
mobile-desktop-app-ionic/platforms/
mobile-desktop-app-ionic/plugins/
mobile-desktop-app-ionic/.vscode/
mobile-desktop-app-ionic/www/lib
temp/
*.DS_Store
*.log
*.swp


# android
*.iml

mobile-app-android/.gradle
/
mobile-app-android/local.properties
mobile-app-android
/.idea/workspace.xml
mobile-app
-android/.idea/libraries/
mobile-app-android/.DS_Store
/
mobile-app-android/build
/




# django

# Created by https://www.gitignore.io

django-backend/venv/
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
django-backend/env/
django-backend/build/
django-backend/develop-eggs/
django-backend/dist/
django-backend/downloads/
django-backend/eggs/
django-backend/lib/
django-backend/lib64/
django-backend/parts/
django-backend/sdist/
django-backend/var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
django-backend/htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
django-backend/docs/_build/

# PyBuilder
django-backend/target/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
django-backend/local_settings.py

.env
django-backend/db.sqlite3
